/* azul: #295ba7 */
/* verde: #78b454 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: rgb(66,119,140);
  
  height: 50px;
  margin: auto;
  padding: 0 20px;
  background: url('./img/bg-repeat.png'), linear-gradient(178deg, rgba(41,91,167,1) 0%, rgba(120,180,84,1) 100%);
}

.menu img {
  max-width: 100px;
}

.menu {
  display: flex;
  align-items: center;
  width: 620px;
  height: 50px;
  justify-content: space-between;
}

.menu ul {
  display: flex;
  align-items: center;
  height: 20px;
  width: 80px;
  justify-content: space-between;
  cursor: pointer;
}

.menu ul li {
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 20px;
}

.menu ul li a {
  font-weight: bold;
}

.menu input {
  background-color: #356b6578;
  border: none;
  height: 25px;
  border-radius: 5px;
  width: 400px;
  caret-color: white;
  padding-left: 5px;
  box-sizing: border-box;
}

.menu input::placeholder {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.barra-pesquisa {
  position: relative;
}

.barra-pesquisa button {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  right: 10px;
  line-height: 25px;
  cursor: pointer;
}

.barra-pesquisa input:focus {
  border: solid 2px #78b454;
  outline: none;
  box-sizing: border-box;
}

.barra-pesquisa input:focus::placeholder {
  color: transparent;
}

header > div {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
}

nav ul {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100px;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav ul img {
  width: 40px;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
}

nav ul li:last-child {
  display: flex;
  align-items: center;
}