main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  width: 100vw;
  justify-content: center;
}
.aniversarios {
  visibility: hidden;
  height: 0;
}

header {
  width: 100vw;
  height: 150px;
  box-sizing: border-box;
}

.menu {
  width: 100vw;
  justify-content: space-around;
}

nav {
  width: 100%;
}

header > div {
  display: flex;
  flex-direction: column;
}

.barra-pesquisa {
  margin: 0;
  justify-content: center;
}

.barra-pesquisa input {
  width: 80%;
}

.barra-pesquisa button {
  right: 50px;
}

nav ul {
  justify-content: flex-end;
}

.sistemas {
  width: 100vw;
  height: 200px;
}

aside {
  margin: 0;
}

.cards {
  justify-content: center;
}

.card {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.card p {
  visibility: hidden;
  font-size: 0px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 350px;
}

.post img {
  width: 150px;
  height: 150px;
}

.noticias {
  width: 100vw;
}