/* azul: #295ba7 */
/* verde: #78b454 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #EFF3F8;
}

header {
  background: rgb(66,119,140);
  
  height: 50px;
  margin: auto;
  padding: 0 20px;
  background: url('./img/bg-repeat.png'), linear-gradient(178deg, rgba(41,91,167,1) 0%, rgba(120,180,84,1) 100%);
}

.menu img {
  max-width: 100px;
}

.menu {
  display: flex;
  align-items: center;
  width: 620px;
  height: 50px;
  justify-content: space-between;
}

.menu ul {
  display: flex;
  align-items: center;
  height: 20px;
  width: 80px;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
}

.menu ul li {
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 20px;
}

.menu ul li a {
  font-weight: bold;
}

.menu input {
  background-color: #356b6578;
  border: none;
  height: 25px;
  border-radius: 5px;
  width: 400px;
  caret-color: white;
  padding-left: 5px;
  box-sizing: border-box;
}

.menu ul:hover {
  background-color: #356b6578;
  height: 40px;
  width: 80px;
}

.menu input::placeholder {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.barra-pesquisa {
  position: relative;
}

.barra-pesquisa button {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  right: 10px;
  line-height: 25px;
  cursor: pointer;
}

.barra-pesquisa input:focus {
  border: solid 2px #78b454;
  outline: none;
  box-sizing: border-box;
}

.barra-pesquisa input:focus::placeholder {
  color: transparent;
}

header > div {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
}

nav ul {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100px;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav ul img {
  width: 40px;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
}

nav ul li:last-child {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.noticias {
  background-color: #F8F9FA;
  width: 675px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

hr {
  height: 1px;
  border: none;
  background-color: gray;
  opacity: 0.4;
}

.noticias > h2, .sistemas > h2 {
  text-transform: uppercase;
}

.noticias > h2, .sistemas > h2, .aniversarios > h2 {
  font-size: 12px;
  font-weight: 500;
}

.noticias > h2 {
  margin: 15px 0 15px 15px;
}

.sistemas > h2, .aniversarios > h2 {
  margin: 0 0 15px 15px;
  padding-top: 15px;
}


aside {
  width: 450px;
  margin-left: 20px;
}

.sistemas {
  background-color: #F8F9FA;
  width: 450px;
  height: 375px;
  border-radius: 5px;
}

.aniversarios {
  background-color: #F8F9FA;
  width: 450px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 10px;
}

.post {
  margin: 15px;
  display: flex;
  height: 200px;
  width: 643px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
  background-color: white;
}

.post > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.post img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.post-text h2 {
  font-size: 16px;
  font-weight: 500;
}

.post-text p {
  text-align: justify;
  font-size: 14px;
}

.post-text h2, .post-text p, .data-e-likes > p {
  margin: 10px;
}

.data-e-likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.data-e-likes > div {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.data-e-likes > div > span:hover {
  cursor: pointer;
}

.like {
  color: red;
}

.comment, .views {
  color: gray;
}

.data-e-likes p {
  font-size: 14px;
  color: gray;
}

.data-e-likes > div > p, .data-e-likes > div > span {
  margin-right: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  padding: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 80px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
  border-radius: 5%;
}

.card:hover {
  background: rgb(41,91,167);
  background: linear-gradient(270deg, rgba(41,91,167,1) 0%, rgba(120,180,84,1) 100%);
  cursor: pointer;
  color: white;
}

.card span {
  font-size: 26px;
  color: #33A76F;
}

.card:hover span, .card:hover p{
  color: white;
}

.card p {
  font-size: 13px;
  color: #33A76F;
  font-weight: bold;
  margin-top: 5px;
}

.aniversariante {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}

.aniversariante img {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.aniversario-data {
  display: flex;
  color: gray;
}

.aniversario-data span {
  margin-right: 5px;
}

.aniversariante-text p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}